#about-us {
    z-index: -5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#about-title {
    position: absolute;
    color: white;
    font-size: calc(25px + 3vw);
    top: 5%;
}

#about-us-parent {
    width: 80%;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.about-us-object {
    border: 2px solid white;
    position: relative;
    width: 15vw;
    height: 35vw;
    min-width: 150px;
    min-height: 350px;
    border-radius: 20px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.about-us-object:hover::before, .about-us-object:hover::after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(45deg, #00ccff, rgb(0, 0, 29), #d400d4, rgb(0, 0, 29));
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    animation: animate-border 10s linear infinite;
    border-radius: 20px;
}

.about-us-object:hover {
    border: none;
    width: calc(15vw + 4px);
    height: calc(35vw + 4px);
}

@keyframes animate-border {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    0% {
        background-position: 0 0;
    }
}

.about-us-object:hover::after {
    filter: blur(20px);
}

.upper-section {
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 2px solid white;
    background: rgb(69, 69, 69, 0.5);
    border-radius: 20px 20px 0 0;
}

.about-txt {
    color: white;
    font-size: calc(15px + 1vw);
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 38%;
    cursor: default;
}

.about-img {
    position: absolute;
    background: black;
    border-radius: 50px;
    margin-top: 4%;
    z-index: 10;
    width: 32%;
    padding-top: 32%;
    left: 50%;
    background-position: center;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.lower-section {
    color: white;
    font-size: calc(10px + .7vw);
    text-align: center;
    padding: 20px;
    cursor: default;
    
}

.FireCreeper82.about-img {
    background-image: url(res/FireCreeper82.png);
}

.TechCrafter_.about-img {
    background-image: url(res/TechCrafter_.png);
}

.TheBossNoob.about-img {
    background-image: url(res/TheBossNoob.png);
}