#about-us {
    z-index: -5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 375%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#about-title {
    position: absolute;
    color: white;
    font-size: calc(25px + 3vw);
    top: 5%;
}

#about-us-text {
    box-sizing: border-box;
    color: white;
    width: 80%;
    height: 55%;
    font-size: calc(10px + 1.7vw);
    cursor: default;
    position: relative;
    padding: 25px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

#about-us-text:hover::before, #about-us-text:hover::after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(45deg, #00ccff, rgb(0, 0, 29), #d400d4, rgb(0, 0, 29));
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    animation: animate-border 10s linear infinite;
    border-radius: 10px;
}

#about-us-text:hover {
    border: none;
    border-radius: 10px;
    width: calc(80% + 4px);
    height: calc(55% + 4px);
}

@keyframes animate-border {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    0% {
        background-position: 0 0;
    }
}

#about-us-text:hover::after {
    filter: blur(60px)
}