

#feature-div {
	width: 99%;
	height: 90%;
	position: absolute;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

#features {
	position: absolute;
	width: 99%;
	height: 75%;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: -3;
}

#features-title {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	color: white;
}

.feature-title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	border-bottom: 2px solid black;
	background-color: rgb(3, 0, 185);
	height: 100px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-top: -1.5px;
	justify-content: center;
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in;
}
.feature-parent {
	position: relative;
	justify-content: center;
	border-radius: 30px;
	border: 5px solid rgb(0, 0, 29);
	width: 350px;
	height: 85%;
	margin: 20px;
	flex-shrink: 1 0 auto;
	min-width: 350px;
	color: white;
	text-decoration: none;
	transition-property: box-shadow;
	transition-duration: .2s;
	transition-timing-function: ease-in;
}

.feature-parent:hover {
	box-shadow: 25px 25px 50px rgb(97, 97, 97);
}

.feature-parent:hover .feature-title {
	background-color: rgb(3, 0, 105);
}

.feature-parent:hover .feature-desc {
	background-color: rgb(0, 72, 126);
}

.feature-desc {
	background-color: rgb(0, 72, 206);
	width: 100%;
	height: 80.8%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	margin-top: 4px;
	font-size: 33px;
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in;
}


#features-more-to-come {
	font-size: 50px;
	color: white;
	position: relative;
	width: 100%;
	text-align: center;
}

.feature-title-text {
	position: relative;
	text-align: center;
	font-size: 30px;
    top: 35px;
}