#home {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(res/background-image.jpg);
}

#name-text {
	position: relative;
	top: 60%;
}

#title {
	text-align: center;
	font-size: 5vw;
	color: white;
}

#titledesc {
	text-align: center;
	font-size: 2vw;
	color: white;
}

#download-button {
	position: relative;
	border: 3px solid;
	background: white;
	color: black;
	width: 25vw;
	height: 5vw;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1%;
	font-size: 3vw;
	border-radius: 5px;
}