body {
	background-color: rgb(0, 0, 29);
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#header {
	position: fixed;
	top: 0;
    margin: 0px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	background: rgba(0,0,0,0.8);
}

#header a {
	color: white;
	font-size: 24px;
	top: 0;
	margin: auto;
	position: relative;
	padding: 12px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#header a::after {
	content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: red;
    width: 0;
    height: 3px;
    transition: all 200ms ease-out;
}

#header a:hover::after {
	width: 100%;
}


#home {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(res/background-image.jpg);
}

#name-text {
	transform: translate(0, 300%);
}

#title {
	text-align: center;
	font-size: 96px;
	color: white;
}

#titledesc {
	text-align: center;
	font-size: 36px;
	color: white;
}

#download-button {
	position: absolute;
	border: 2px solid;
	background: white;
	color: black;
	width: 300px;
	height: 80px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
	font-size: 30px;
}

html {
	scroll-behavior: smooth;
}


#feature-div {
	width: 99%;
	height: 90%;
	position: absolute;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

#features {
	position: absolute;
	width: 99%;
	height: 75%;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: -3;
}

#features-title {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

.feature-title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	border-bottom: 2px solid;
	background: gray;
	height: 100px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-top: 0px;
}
.feature-parent {
	position: relative;
	justify-content: center;
	border-radius: 25px;
	border: 2px solid;
	width: 15%;
	height: 85%;
	margin: 20px;
	flex-shrink: 1 0 auto;
	min-width: 220px;
}

.feature-desc {
	background: rgb(163, 163, 163);
	width: 100%;
	height: 80.8%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}